*{
    margin: 0;
    padding: 0;
}

.ul,li,ol{
    text-decoration: none;
    list-style: none;
}

.container{
    width: 1440px;
    margin: 0 auto;


}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular-webfont.woff2") format("woff2"),
         url("../fonts/Poppins-Regular-webfont.woff") format("woff");
  }

body{
    font-family: "Poppins";
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*header*/

.section1{
    display: flex;
    align-items: center;
}

.wrapper_header{

    display: flex;
    justify-content: space-between;
    
}

.list_menu{
    display: flex;
    align-items: center;
  
}

.ml30{
    color: #444444;
    margin-left: 30px;
    transition: 0.4s;
}

.ml30:hover{
    color: #FF8A63;
}

.pt15{
    padding-top: 15px;
}

/*section1*/

.section1{
    height: 738px;
    background: url("../img/intro.png") no-repeat center center / cover;
}

.wrapper_section1{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.place_center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hight_s1{
    padding-bottom: 75px;
}

.text_32{

font-size: 32px;
line-height: 45px;
text-align: center;
color: #45525B;
width: 525px;
height: 90px;
margin-top: 20px;
}

.rectangle_sc1{
    display: flex;
    width: 64px;
    height: 64px;
}

.arrow_rectangle{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
}
.arrow_rectangle{
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}


/*section2*/


.wrapper_section2{
    height: 486px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#FAFAFC

}

.text_14{

    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.mt8{
    margin-top: 8px;
}

.w576{
    width: 576px;
    height: 68px;
}

.beige{
    color: #FF8A63;
}

.text_48{
    font-size: 48px;
    line-height: 53px;                      
    color: #45525B  
}

.left_intro_s2{
   
}

.w491{
    width: 491px;
    height: 159px;
}

.text16{
    font-size: 16px;
    line-height: 22px;
    color: #333333;

}

.w561{
    width: 561px;
    height: 112px;
}

.textfake12{
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;
}
.circle_person{
   display: flex;
   align-items: center;
   padding-top: 19px;
}

.name_position{
    margin-left: 8px;
}

.circle_person::before{
    content: "";
    background-image: url(../svg/WOMAN_CIRCLE.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}

/*section3*/

.wrapper_section3{

    padding-top: 200px;
    height: 732px;
    padding-bottom: 44px;

}

.text36{

    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #45525B;

}

.text_sc3{
    text-align: center;
    width: 1440px;
}

.text18{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #6F7278;

}

.w561_2{
    width: 561px;
    height: 44px;
    
}

.text_center_s3{
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 11px;
}

.icon_infos3{
    align-items: center;
    width: 360px;
    height: 167px;
    padding-top: 20px;
    
}

.icon_infos3:before{
    content: "";
    background-image: url(../svg/icon3.svg);
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 48px;
}

.icon_infos3:before{
    content: "";
    background-image: url(../svg/icon2.svg);
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 48px;
}

.icon_infos3:before{
    content: "";
    background-image: url(../svg/icon1.svg);
    background-repeat: no-repeat;
    display: block;
    width: 48px;
    height: 48px;
    padding-top: 10px;
}

.intro_s3{
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 0 auto;
    padding-top: 29px;
}

.up_tx{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #45525B;
    
}

.lw_tx{
 
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6F7278;
    text-transform: none;
    
}

.info_icon{
    width: 300px;
    height: 561px;
    padding-top: 19px;
    margin-right: 32px;
}

.mr_0{
    margin-left: 0;
}


/*section4*/

.wrapper_section4{
  
}

.section4{
    background: url("../img/intro2.png") no-repeat center center / cover;
    height: 600px;
  
}

/*section5*/


.wrapper_section5{
    padding-top: 44px;
    height: 1204px;
    margin: 0 auto;

}

.w574{
    width: 574px;
    text-align: left;
    padding-top: 11px;      
}

.text_fake_12{
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6F7278;

}

.text20{

    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #45525B;

}

.intro_group_sc5{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}

.group_sc5{
    width: 379px;
    height: 385px;
}

.text12{
    font-size: 12px;
    line-height: 17px;
    color: #45525B;
    }

.info_icon_sc5{
   display: flex;
   justify-content: space-around;
   padding-top: 10px;
   
    
}

.beds{
    display: flex;
   
}

.bath{
    display: flex;
  
}

.room{
    display: flex;
    
}


.beds::before{
    content: "";
    background-image: url(../svg/Bed-Icon.svg);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
   
}

.bath::before{
    content: "";
    background-image: url(../svg/Bath-Icon.svg);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;

}

.room::before{
    content: "";
    background-image: url(../svg/door-icon.svg);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;

}

.intro_group_sc5_2{
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding-top: 21 px;
}

.arrow_sc5{
    display: flex;
    justify-content: center;
    
}

.arrow_pic_sc5{
    margin-left: 4px;
}

/*section6*/

.wrapper_section6{
    
    height: 284px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.arrow_sc6{
    display: flex;
    padding-top: 40px;

}

.w368{
    width: 368px;
    height: 84px;
    
    padding-top: 13px;
}

.w309{
    width: 309px;
    height: 130px;
}

.circle_group{
    display: flex;
    justify-content: space-between;
    margin-left: 64px;
}

.circle_section2{

}

.w360{
    width: 360px;
    height: 80px;
}

.circle_person1_1::before{
    content: "";
    background-image: url(../svg/WOMAN_CIRCLE.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}

.circle_person1_2::before{
    content: "";
    background-image: url(../svg/WOMAN_CIRCLE_2.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}
.circle_person1_3::before{
    content: "";
    background-image: url(../svg/WHITE_MAN_2.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}
.circle_person2_1::before{
    content: "";
    background-image: url(../svg/DARK_MAN_CIRCLE.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}
.circle_person2_2::before{
    content: "";
    background-image: url(../svg/WHITE_MAN.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}
.circle_person2_3::before{
    content: "";
    background-image: url(../svg/WOMAN_CIRCLE_3.svg);
    background-repeat: no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}

.circle_person1_1{
    display: flex;
    align-items: center;
}

.circle_person1_2{
    display: flex;
    align-items: center;
}

.circle_person1_3{
    display: flex;
    align-items: center;
}

.circle_person2_1{
    display: flex;
    align-items: center;
}

.circle_person2_2{
    display: flex;
    align-items: center;
}

.circle_person2_3{
    display: flex;
    align-items: center;
}